<div class="row" ng-init="LoadApiInfo()">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                ویرایش کلید 
            </header>
            <div class="panel-body">
                <form role="form" class="form-horizontal tasi-form">
                    <div class="form-group ">

                        <div style="height:100px;">
                            <label class="col-lg-1 control-label">ip</label>
                            <div class="col-lg-11">
                                <div class="col-lg-2">
                                    <input type="text" ng-model="Api.ip" placeholder="" class="form-control marginTop5">
                                </div>
                            </div>

                            <label class="col-lg-1 control-label">فعال</label>
                            <div class="col-lg-11">
                                <div class="col-lg-2">
                                    <input type="checkbox" ng-init="Api.isActive=true" ng-model="Api.isActive">
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="form-group">
                        <div class="pull-right col-lg-11">
                            <button ng-hide="successfulAddingApi" class="btn btn-danger pull-left " ng-click="companyApiEdit();">ذخیره</button>
                        </div>
                    </div>


                    <div ng-show="successfulAddingApi" class="alert alert-success alert-block fade in">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="icon-remove"></i>
                        </button>
                        <h4>
                            <i class="icon-ok-sign"></i>
                            موفقیت آمیز
                        </h4>
                        <p>ویرایش کلید Api  با موفقیت انجام شد</p>
                        <a style="float: left;margin: -40px 0px 0px 44px;" class="btn btn-default" href="#!/company-api-list">بازگشت</a>
                    </div>

                </form>
            </div>
        </section>
    </div>
</div>
